.txtarea{
  width: 60%;
}
.author{
  width: 25%;
  margin-right: 110px;
}
.myname{
  width: 25%;
}
.publish{
}
.disp{
  width: 30%;
  margin-top: 50px;
  /* margin-right: 20px; */
  /* margin-left: 20px;  */
}
#dps{
  display: flex;
}