<div>
  <mat-card class="example-card">
    <form class="example-container container" #userInput ="ngForm" (ngSubmit)="onSubmitting(userInput.value)">
      <mat-form-field class="txtarea">
        <textarea matInput placeholder="Type your Quote here..." type="text" id="quote" name="quote" ngModel></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="author">
        <input matInput placeholder="Author" type="text" id="author" name="author" ngModel>
      </mat-form-field>
      <mat-form-field class="myname">
        <input matInput placeholder="Your Name" type="text" id="name" name="name" ngModel>
      </mat-form-field>
      <br>

      <!-- submiting button -->
      <button mat-raised-button color="primary" type="submit" value = "submit" class="publish">Publish</button>
    </form>


   <!--  <div>
      <div [count]="initialCount"></div>
    </div> -->
  </mat-card>

  <div class="container">
    <div class="container row" id="dps" *ngFor="let qt of quotation;let i = index">
      <mat-card class="disp">
        Author: &nbsp; {{ qt.author }}
        <br>
        Quote: &nbsp; <em>"{{ qt.quote | slice:0:17 }}..."</em>
        <br>
        <button  mat-button color="primary" (click)='toggleDetails(i)'>Details</button>


        <div *ngIf='qt.showDetails'>
          <app-quote-details [quotation]='qt' (isDelete)="delQuote($event,i)"></app-quote-details>
        </div>
        <br>


        <!-- FOR THE UPCOUNT AND DOUWNCOUNT  -->
         <mat-icon matBadge="{{qt.upCount}}" matBadgeColor="warn" class="badge" (click)="increment(i)">thumb_up_alt</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>  


        <mat-icon matBadge="{{qt.downCount}}" matBadgeColor="warn" class="badge" (click)="decrement(i)">thumb_down_alt</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>    
      </mat-card>
    </div>
  </div>
</div>  



<!-- [(ngModel)]="" -->
<!-- [(ngModel)]="" -->
<!-- [(ngModel)]="" -->