.txtarea{
  width: 60%;
}
.author{
  width: 25%;
  margin-right: 110px;
}
.myname{
  width: 25%;
}
.example-container{
  margin-bottom: 100em;
}
.frm{
  /* height: 70%; */
}
mat-card{
  text-align: center;
}
.disp{
  width: 40%;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px; 
}
#dps{
  display: flex;
}
.badge{
  margin-top: 30px;
  width: 4em;
}
