<div>
  <mat-card class="example-card">
    <div class="example-container container" style="border:solid;">
      <mat-form-field class="txtarea">
        <textarea matInput placeholder="Type your Quote here..."></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="author">
        <input matInput placeholder="Author">
      </mat-form-field>
      <mat-form-field class="myname">
        <input matInput placeholder="Your Name">
      </mat-form-field>
    </div>
  </mat-card>
</div>  